<!--Left Side Bar-->
<div th:fragment="leftsidebar" class="main-menu menu-fixed menu-dark menu-accordion menu-shadow" data-scroll-to-active="true">
    <div class="main-menu-content">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
            <li class=" nav-item"><a href="/index"><i class="la la-stethoscope"></i><span class="menu-title" data-i18n="nav.dash.main">Doctors</span><span class="badge badge badge-info badge-pill float-right mr-2">3</span></a>
                <ul class="menu-content">
                    <li><a class="menu-item" href="/doctorList" data-i18n="nav.dash.ecommerce">All Doctors</a>
                    </li>
                    <li><a class="menu-item" href="/doctorCreate" data-i18n="nav.dash.crypto">Add Doctor</a>
                    </li>
                </ul>
            </li>

            <li class=" nav-item"><a href="/index"><i class="la la-stethoscope"></i><span class="menu-title" data-i18n="nav.dash.main">Job Seeker</span></a>
                <ul class="menu-content">
                    <li><a class="menu-item " href="/jobSeekerList" data-i18n="nav.dash.ecommerce">Job Seeker List</a>
                    </li>
                    <li><a class="menu-item la la-user-plus" href="/jobSeekerCreate" data-i18n="nav.dash.crypto">Add Job Seeker</a>
                    </li>
                </ul>
            </li>
            <li class=" navigation-header"><span data-i18n="nav.category.admin-panels">Admin Panels</span><i class="la la-ellipsis-h ft-minus" data-toggle="tooltip" data-placement="right" data-original-title="Admin Panels"></i>
            </li>
        </ul>
    </div>
</div>
<!--Left Side Bar End-->